<a href="event-details.html" class="card">
    <div class="card-container">
        <div class="card-header">
            <img src="assets/images/home/livre05.webp" alt="img">
            <div class="spinner"></div>
        </div>
        <div class="card-body">
            <h6 class="title">Título do Evento</h6>
            <p class="summary">daadwwadawdadssasfagr hrgsgfgf grssge gsgrs grsgrsgrs grs rs</p>
            <p class="period">Data: 11/01/26</p>
            <p class="period">Saiba mais...</p>
        </div>
        <div class="card-footer">
            <p>
                <i class="bi bi-c-circle"></i>
                Feito por Mocidade Livre
            </p>
        </div>
    </div>
</a>